header.site-header {
    margin-bottom: 2em;
    background: #eee;
    font-family: $font__alt;
    h1 {margin:0;}
    .site-branding {

    
    p {
        line-height: 0;
       
    }
    
    .site-title {
        font-size: 1rem;
        font-weight: 700;
    }
    
     .site-description {
         font-size: 0.7rem;
         font-weight: 700;
        
    }

}
    }


